<h1><%= @roster.team_name %></h1>

<ul>
  <% @roster.sorted_players.each do |roster_player| %>
    <li>
      <%= link_to "#{roster_player.roster_position} | #{roster_player.player.name}", roster_player.player %>
    </li>
  <% end %>
</ul>

<br><br>

<% if session[:user_id] == @roster.user_id %>
  <%= button_to "Delete Roster", @roster, method: :delete %>
<% end %>
