<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Sports Ball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="splash">

    <div class="splash-nav">

    </div>

    <div class="splash-focus">
      <div class="focus-text">

      </div>
      <div class="splash-form">

      </div>
    </div>

  </body>
</html>
